ray
psutil
pyyaml
z3-solver
lancedb
tree-sitter
pytest
pytest-asyncio
torch
torchvision
torchaudio
ipex-llm
pydantic
xxhash
numpy>=1.25.0
pandas
transformers
fastapi
uvicorn
datasets
vllm
openai
pebble
